body {
  box-sizing: border-box;
  background-color: rgb(19, 15, 15);
  font-family: sans-serif;
}
.shopping {
  display: grid;
  grid-template-columns: repeat(1, 400px);
  width: 450px;
  height: auto;
  background-color: hsl(182, 25%, 50%, 0.1);
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  padding: 10px 10px 50px 10px;
  border-radius: 10px;
  color: #b1a8a3;
}
.shopping h1 {
  text-align: center;
  color: #b1a8a3;
}
#form {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
#form input {
  background: none;
  appearance: none;
  border: none;
  outline: none;
  border-bottom: 1px solid #2a9d8f;
  padding: 8px;
  font-size: large;
  width: 300px;
  height: 20px;
  color: aliceblue;
}
#form input:focus {
  background-color:rgba(96, 157, 159, 0.158) ;
}
.taskList {
  display: flex;
  flex-direction: column;
  list-style: none;
  height: auto;
  justify-content: center;
  align-items: flex-start;
  padding: 30px 0;
  overflow-x: auto;
  width: 400px;
}
.taskList li {
  display: flex;
  flex-direction: row;
  margin-bottom: 2rem;
  width: 400px;
  position: relative;
}
.taskList li div {
  padding-right: 100px;
}

.addButton {
  color: #2a9d8f;
  background-color: transparent;
  border: none;
  appearance: none;
  padding: 10px;
  border-radius: 10px;
  font-weight: bold;
  font-size: medium;
  float: left;
  transition: ease-in-out 0.3s;
}
.addButton:hover {
  cursor: pointer;
  background-color: #4a4e6938;
  transition: ease-in-out 0.3s;
}
.deleteBtn {
  background-color: #a16e43;
  color: #b1a8a3;
  border: none;
  appearance: none;
  padding: 10px;
  font-size: large;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: absolute;
  right: 4px;
  top: 0;
  transition: ease-in-out 0.3s;
}
.deleteBtn:hover {
  background-color: #9c8c83;
  color: #4a4e69;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}
.shoppingCart {
  display: flex;
  justify-content: center;
  align-self: center;
  margin: 0 auto;
  text-align: center;
  padding: 10px;
  margin-top: 40px;
  color: #5986af;
  border-radius: 10px;
  font-weight: bold;
  transition: ease-in-out 0.4s;
}
.shoppingCart:hover {
  background-color: #4a4e6938;
  cursor: pointer;
  transition: ease-in-out 0.4s;
}

/* ---------------------------- */
@media screen and (max-width: 600px) {
  .shopping {
    grid-template-columns: repeat(1, 200px);
    grid-template-rows: repeat(1, 50px);
    width: 250px;
    padding: 20px 20px 60px 20px;
  }
  #form input {
    width: 150px;
    font-size: small;
  }
}
@media screen and (max-width: 350px) {
  .shopping {
    grid-template-columns: repeat(1, 100px);
    grid-template-rows: repeat(1, 50px);
    width: 150px;
    padding: 20px 20px 60px 20px;
  }
  #form {
    flex-direction: column;
  }
  #form input {
    width: 100px;
    font-size: small;
  }
  .task {
    flex-direction: column;
  }
}
